body {
  font-family: Arial;
  background: #f3f3f3;
  text-align: center;
}

.page {
  padding: 20px;
}

.hidden {
  display: none;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  cursor: pointer;
}

.question {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
.correct {
  background: #c8f7c5;
}
.wrong {
  background: #f7c5c5;
}